.header {
  background-image: url('/assets/img/header/esNzSqc8Z2RLschf.png');
  min-height: 300px;
  font-family: 'Open Sans', sans-serif;
  .title {
    font-size: 30px;
    color: white;
    font-weight: 300;
  }
}
