<nav class="navbar navbar-light p-0 d-flex justify-content-center align-items-center">
    <div class="row top px-5">
        <div class="col-6 brand d-flex justify-content-start align-items-center">
          <p class="mb-0">promesas.mx</p>
        </div>
        <div class="col-6 menu d-flex justify-content-center align-items-stretch">
          <div class="row d-flex justify-content-end align-items-stretch">
            <div class="col-2 object mr-5 d-flex justify-content-center align-items-center">
              <p class="mb-0">Datos</p>
            </div>
          </div>
        </div>
    </div>
    <div class="row sub px-5">
      <div class="col-6 brand d-flex justify-content-start align-items-center">
        <p class="mb-0">datos.promesas.mx</p>
      </div>
      <div class="col-6 menu d-flex justify-content-center align-items-stretch">
        <div class="row d-flex justify-content-start align-items-stretch">
          <div class="col-2 object mr-5 d-flex justify-content-center align-items-center">
            <p class="mb-0">Datos</p>
          </div>
        </div>
      </div>
    </div>
</nav>
