.promise {
  background-color: #EFEFEF;
  font-family: 'Open Sans', sans-serif;
  .header {
    color: #474747;
    .title {
      font-size: 20px;
      line-height: 27px;
      word-break: break-all;
      word-wrap: break-word;
      min-height: 140px;
    }
    .resource {
      font-size: 15px;
    }
  }
  .author {
    background-color: #00CC99;
    height: 50px;
    .name {
      color: white;
      font-size: 18px;
    }
  }
}
